<div class="row justify-content-center">

  <!-- TEMPLATE SI L'UTILISATEUR EST CONNECTÉ(E)-->
  <div *ngIf="userSvc.isAuth()" class="col-12 col-md-6" >
    <h1>Hello, vous êtes connecté(é)</h1>

  
      <p>Username : {{ userData.username?userData.username:'' }}</p>
      <p>Email : {{ userData.email?userData.email:'' }}</p>
      <p>ID : {{ userData.id?userData.id:'' }}</p>
   

    <button class="btn btn-light" (click)="userSvc.logout()">
      Déconnexion
    </button>
  </div>

  <!-- TEMPLATE SI L'UTILISATEUR EST DÉCONNECTÉ(E)-->
  <form  *ngIf="!userSvc.isAuth()" class="col-12 col-md-6" [formGroup]="loginForm" (submit)="onSubmit()">
    <h1>Connexion</h1>
    <label class="form-label">Email</label>
    <input class="form-control" formControlName="email" type="text">
    <!-- Les erreurs email  -->
    <p class="error" 
        *ngIf="loginForm.touched && 
               loginForm.controls['email'].errors?.['required']">Email requis</p>
    <p class="error" 
       *ngIf="loginForm.touched && 
       loginForm.controls['email'].errors?.['email']">Veuillez saisir un email valide</p>
  

    <label class="form-label">Mot de passe</label>
    <input class="form-control" formControlName="password" type="password">
    <!-- Les erreurs password  -->
    <p class="error" 
       *ngIf="loginForm.controls['password'].dirty && 
              loginForm.touched && 
              loginForm.controls['password'].hasError('required')">Le mot de passe est requis</p>

    <div class="d-flex justify-content-right">
      <button class="btn btn-dark btn-smd mt-2">Se connecter</button>
    </div>
  
  </form>

</div>

