<div class="container-fluid">

  <!-- <h1>Les films à l'affiche</h1> -->

  <!-- app-searchbar -->
  <!-- <app-searchbar></app-searchbar> -->
  

  <!-- app-list -->
  <!-- <app-list></app-list> -->

  <!-- 
    Le component router-outlet
    décidera d'afficher le component ListComponent ou DetailComponent
    selon le changement d'URL (localhost:4200 affichera la liste, localhost:4200/detail affichera le detail )
  -->
  <router-outlet></router-outlet>

</div>

<!-- app-actionbar -->
<!-- <app-actionbar></app-actionbar> -->