<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand" href="#">MovieApp</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/login" class="nav-link btn">
            <i class="fa-solid fa-user"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
 

<div class="container-fluid mt-5">

  <!-- <h1>Les films à l'affiche</h1> -->

  <!-- app-searchbar -->
  <!-- <app-searchbar></app-searchbar> -->
  

  <!-- app-list -->
  <!-- <app-list></app-list> -->

  <!-- 
    Le component router-outlet
    décidera d'afficher le component ListComponent ou DetailComponent
    selon le changement d'URL (localhost:4200 affichera la liste, localhost:4200/detail affichera le detail )
  -->
  <router-outlet></router-outlet>

</div>

<!-- <app-actionbar></app-actionbar> -->
<!-- déporté dans le list-component-->

