<!-- <pre>{{ movies | json }}</pre> -->
<!-- app-searchbar -->
<app-searchbar></app-searchbar>

<!-- vue list -->
<div class="row pt-3 pb-5">
  <h1 class="text-center">A l'affiche</h1>
  <!-- On itère ce template HTML qui contient des cards-->
  <div *ngFor="let movie of movies" class="col-12 col-md-3">
    <!-- CARD-->
    <div [routerLink]="['/detail', movie.id]" class="card">
      <img [src]="getImgFullUrl(movie.image_landscape)" alt="">

      <div class="card-body">
        <h2>{{ movie.titre }}</h2>
        <!-- le score sous forme d'icone star-->
      </div>
    </div>

  </div>
</div>

<!-- action bar (films suivants)-->
<app-actionbar></app-actionbar>
