<div class="d-flex mt-5 py-2">
  
  <button class="btn btn-outline-light btn-sm" (click)="goBack()">
    <i class="fas fa-arrow-left"></i>
  </button>
  <h1>{{ (movieSvc.movieDetail$ | async)?.titre }}</h1>
</div>

<div *ngIf="movieSvc.movieDetail$ | async as movie" class="row">

  <!-- video-->
  <div class="col-12 col-lg-6">
    
    <!-- component app-video -->
    <app-video [videoUrlInput]="videoUrl"></app-video>

  </div>

  <!-- details-->
  <div class="col-12 col-lg-6">
    <h2>Date de sortie</h2>
    <p>{{ movie.date | date:'dd/MM/yyyy' }}</p>

    <h2>Résumé</h2>
    <p>{{ movie.resume }}</p>

    <h2>Genres</h2>
    <p class="genre"><span *ngFor="let genre of movie.genres">{{ genre.name}}</span></p>

    <h2>Durée</h2>
    <p>{{ movie.duration | printDuration }}</p>

    <hr>
    <h2>Commentaires</h2>
    <app-comment-form [movie_id]="movie.id"></app-comment-form>
  </div>

</div>
